body {
    background-image: url('IMAGE2.png'); /* local image or online image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h1{
    color: #F2EFE7;
  }
   /* footer{
    color: #AFDDFF;
   }
   a{
    color: #D4C9BE;
   } */
    
   .space-x-4 a:hover{
    text-decoration: underline;
   }